READ_TIMEOUT=60
WRITE_TIMEOUT=60
MAX_HEADER_BYTES=1048576
CONCURRENCY=16384

DOMAIN_NAME=0.0.0.0:8080

LOG_LEVLE=INFO
LOG_DIR=./logs

MYSQL_USER=xxx
MYSQL_PASSWORD=xxx
MYSQL_DATABASE=xxx
MYSQL_HOST=localhost
MYSQL_PORT=3306

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=xxx